{% load static %}
<!-- Sidebar Start -->
<div class="col-lg-4">
    <!-- Search Form Start -->
    <div class="mb-5">

        <form method="get" action="{% url 'products:search' %}">
            <div class="input-group">
                <input type="text" class="form-control p-3" placeholder="جستجوی محصول " name="search">
                <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
            </div>
        </form>

    </div>
    <!-- Search Form End -->

    <!-- Category Start -->
    <div class="mb-5">
        <h2 class="mb-4">دسته بندی ها</h2>
        <div class="d-flex flex-column justify-content-start">
            {% for category in all_categories_c %}
                <a class="h5 bg-light rounded py-2 px-3 mb-2" href="{% url 'products:category_list' category.id %}"><i
                        class="bi bi-arrow-right me-2"></i>{{ category.title }}</a>

            {% endfor %}
        </div>
    </div>
    <!-- Category End -->

    <!-- Recent Post Start -->
    <div class="mb-5">
        <h2 class="mb-4">محصولات اخیر</h2>
        {% for product in recent_products_c %}

            <div class="d-flex rounded overflow-hidden mb-3">
                <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}"
                     style="width: 100px; height: 100px; object-fit: cover;" alt="">
                <a href="{{ product.get_absolute_url }}"
                   class="h5 d-flex align-items-center bg-light px-3 mb-0 w-75">{{ product.title }}
                </a>
            </div>

        {% endfor %}

        <h2 class="mb-4">مقالات اخیر</h2>
        {% for article in recent_articles_c %}

            <div class="d-flex rounded overflow-hidden mb-3">
                {% if article.image %}
                    <img class="img-fluid" src="{{ article.image.url }}"
                         style="width: 100px; height: 100px; object-fit: cover;" alt="">
                {% else %}
                    <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}"
                         style="width: 100px; height: 100px; object-fit: cover;" alt="">
                {% endif %}

                <a href="{{ article.get_absolute_url }}"
                   class="h5 d-flex align-items-center bg-light px-3 mb-0 w-75">{{ article.title }}
                </a>
            </div>

        {% endfor %}

    </div>
    <!-- Recent Post End -->
    {##}
    {#    <!-- Image Start -->#}
    {#    <div class="mb-5">#}
    {#        <img src="{% static 'img/blog-1.jpg' %}" alt="" class="img-fluid rounded">#}
    {#    </div>#}
    {#    <!-- Image End -->#}
    {##}
    {#    <!-- Tags Start -->#}
    {#    <div class="mb-5">#}
    {#        <h2 class="mb-4">Tag Cloud</h2>#}
    {#        <div class="d-flex flex-wrap m-n1">#}
    {#            <a href="" class="btn btn-light m-1">Design</a>#}
    {#            <a href="" class="btn btn-light m-1">Development</a>#}
    {#            <a href="" class="btn btn-light m-1">Marketing</a>#}
    {#            <a href="" class="btn btn-light m-1">SEO</a>#}
    {#            <a href="" class="btn btn-light m-1">Writing</a>#}
    {#            <a href="" class="btn btn-light m-1">Consulting</a>#}
    {#            <a href="" class="btn btn-light m-1">Design</a>#}
    {#            <a href="" class="btn btn-light m-1">Development</a>#}
    {#            <a href="" class="btn btn-light m-1">Marketing</a>#}
    {#            <a href="" class="btn btn-light m-1">SEO</a>#}
    {#            <a href="" class="btn btn-light m-1">Writing</a>#}
    {#            <a href="" class="btn btn-light m-1">Consulting</a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- Tags End -->#}
    {##}
    {#    <!-- Plain Text Start -->#}
    {#    <div>#}
    {#        <h2 class="mb-4">Plain Text</h2>#}
    {#        <div class="bg-light text-center" style="padding: 30px;">#}
    {#            <p>Vero sea et accusam justo dolor accusam lorem consetetur, dolores sit amet sit dolor clita kasd justo,#}
    {#                diam accusam no sea ut tempor magna takimata, amet sit et diam dolor ipsum amet diam</p>#}
    {#            <a href="" class="btn btn-primary py-2 px-4">Read More</a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- Plain Text End -->#}
</div>
<!-- Sidebar End -->