{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Start -->
    <div class="container-fluid bg-primary p-5 hero-header mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-1 text-white animated zoomIn">ارتباط با ما</h1>
                <a href="{% url 'home_app:home' %}" class="h4 text-white">خانه</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">راه های ارتباطی</h5>
                <h1 class="display-5 mb-0">برای ارسال پیام فرم زیر را تکمیل کنید</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-7 wow slideInUp" data-wow-delay="0.3s">
                    <div class="bg-light rounded p-5">
                        <form method="post">
                            {% csrf_token %}

                            <div class="row g-3">

                                <div class="col-6">
                                    <p align="right">شماره تلفن (بدون صفر) </p>
                                    {{ form.phone }}
                                </div>
                                <div class="col-6">
                                    <p align="right">نام کاربر</p>
                                    {{ form.name }}
                                </div>
                                <div class="col-12">
                                    {{ form.title }}
                                </div>
                                <div class="col-12">
                                    {{ form.text }}
                                </div>
                                {#                                <div class="col-12">#}
                                {#                                    <button class="btn btn-primary w-100 py-3" type="submit">ارسال</button>#}
                                {#                                </div>#}
                                {#                                -----------------------------------------------------------------#}
                                <!-- Button trigger modal -->
                                <button  class="btn btn-primary" {% if form.errors %} type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalCenter"{% else %} type="submit" {% endif %} style="text-align: center;">
                                    ارسال پیام
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
                                            </div>
                                            <div class="modal-body" style="text-align: right;">
                                                {{form.phone.errors}}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#                                -----------------------------------------------------------------#}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 wow slideInUp" data-wow-delay="0.6s">
                    <div class="bg-light rounded p-5">
                        <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                            <div class="text-start" align="right">
                                <h5 class="mb-1">آدرس </h5>
                                <span>{{ info.address }}</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                            <div class="text-start">
                                <h5 class="mb-1">ایمیل</h5>
                                <span>{{ info.email }}</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                            <div class="text-start">
                                <h5 class="mb-1">شماره تماس</h5>
                                <a href="tel:+98{{ info.phone_number }}">0{{ info.phone_number }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}